{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> My name is Jeff and I've been living in Japan since the end of 2018. I started in Kobe, but now I find myself living in Toyama prefecture &nbsp;
            and I wouldn't have it any other way. I'm so glad I've been able to call this place home for as long as I have and I look forward to more years to come. Follow &nbsp;
            along my adventures through this blog and my socials listed below!
        </p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"><img src="{% static '/admin/img/Instagram_icon.png' %}" style="width:50px;height:50px;"></a>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"><img src="{% static '/admin/img/youtube_icon.png' %}" style="width:50px;height:50px;"></a>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"><img src="{% static '/admin/img/twitter_icon.jpg' %}" style="width:50px;height:50px;"></a>
    </div>
</div>
</div>

{% endblock sidebar %}